@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap')
}

body {
  font-family: 'Inter', sans-serif;
}

#gamesTable {
  max-width: 100%;
  overflow-x: scroll;
  padding: 15px;
}